*.pas linguist-language=Pascal linguist-detectable=true
*.dpr linguist-language=Pascal linguist-detectable=true
*.dfm linguist-language=Pascal linguist-detectable=true
*.inc linguist-language=Pascal linguist-detectable=true
*.md linguist-documentation=true
*.txt linguist-documentation=true
LICENSE linguist-documentation=true
README* linguist-documentation=true
*.local linguist-vendored
*.identcache linguist-vendored
*.ota linguist-vendored
*.tvsconfig linguist-vendored
*.dproj linguist-vendored
*.group linguist-vendored
*.exe linguist-vendored
*.dll linguist-vendored

__history/ linguist-vendored
backup/ linguist-vendored
bin/ linguist-vendored
obj/ linguist-vendored
Debug/ linguist-vendored
Release/ linguist-vendored
x64/ linguist-vendored
Win32/ linguist-vendored
